@model Difficulty_Learning.ViewModel.CategoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course_ID" class="control-label"></label>
                <input asp-for="Course_ID" class="form-control" />
                <span asp-validation-for="Course_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course_UserID" class="control-label"></label>
                <input asp-for="Course_UserID" class="form-control" />
                <span asp-validation-for="Course_UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course_CategoryID" class="control-label"></label>
                <select asp-for="Course_CategoryID" class="form-control"
                        asp-items="@(new SelectList(Model.Categorys, "CategoryCourse_ID", "CategoryCourse_Name"))"></select>
                <span asp-validation-for="Course_CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course_Name" class="control-label"></label>
                <input asp-for="Course_Name" class="form-control" />
                <span asp-validation-for="Course_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File1" class="control-label"></label>
                <input type="file"  asp-for="File1" class="form-control" />
                <span asp-validation-for="File1" class="text-danger"></span>
                <img src="~/uploads/@Model.Course_Path" style="width:124px;" class="img-thumbnail" />
            </div>
            <input type="hidden" asp-for="Course_Path" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
